html, body { 
    margin: 0; padding: 0;
    height: 100%; 
    overflow: auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/*
#lit_quote {

}
*/
#lit_quote em {
    font-weight: 900;
    color: rgb(228, 179, 179);
    font-style: normal
}


#main_text {
    width: 80vw;
    margin: auto; 
    color: dimgrey;
    font-family: 'Merriweather', Times, serif;
}

cite {
    float: right;
    padding-left: 10vw;
    font-size: 2vw;
}
cite #book{
    font-style: normal;
}

#bottom {
    height: 10px; 
    width: 90%;
    position: fixed; 
    bottom:2%;
    color: dimgray;
    padding-left: 40px;
    padding-right: 0px;

}
#bottom a, a:visited {
    color: rgb(66, 66, 66)
}

#github {
    display: inline;
    padding-right: 5px;
}

#bottom span {
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: rgb(0, 0, 0);
}

/* dark theme */
body.dark {
    background: #000000;
}

body.dark #lit_quote em {
    color: rgb(220, 217, 212);
}

body.dark #main_text, body.dark #bottom {
    color: rgba(166, 158, 146, 0.563);
}

body.dark #bottom a, a:visited {
    color: rgb(190, 185, 176);
}
